<% include header %>

  <div class="jumbotron">
    <div class="container">
      <h1>Simple web application</h1>
      <p>This example site includes a Node.js back-end and a responsive front-end.</p>
      <p><a class="btn btn-primary btn-lg bg-nw-green" href="https://github.com/profcase/a03" role="button">View code &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Northwest Missouri State University</h2>
        <p>Northwest Missouri State University is a state university in Maryville Missouri. The beautiful campus serves as the
          Missouri State Arbortum.
        </p>
        <p><a class="btn btn-primary bg-nw-green" href="http://www.nwmissouri.edu/" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Masters of Applied Computer Science Program</h2>
        <p>The Masters of Science in Applied Computer Science offers students with strong undergraduate background in a technical
          computing discipline an opportunity to increase their technical expertise and to complement that expertise with
          fundamental business concepts related specifically to information technology.
        </p>
        <p><a class="btn btn-primary bg-nw-green" href="http://www.nwmissouri.edu/csis/msacs/index.htm" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>School of Computer Science and Information Systems</h2>
        <p>The NW School of Computer Science and Information Systems offers a <a href="http://www.nwmissouri.edu/csis/programs/index.htm">variety of degree programs</a> including
           Business Technology and Eduction, Cybersecurity, Data Science, Digital Media, and more.
        </p>
        <p><a class="btn btn-primary bg-nw-green" href="http://www.nwmissouri.edu/csis/msacs/index.htm" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <% include footer %>
